<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KeyboxWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KeyboxWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- CONTAINER -->
    <div class="container">

        <!-- MENU -->
        <div class="w-25 pb-3 pt-5" style="float: left">
            <ul>
                <li><a class="" href="#">General</a></li>
                <li><a class="" href="#">Categories</a></li>
                <hr style="width: 60%">
                <li><a class="" href="#">+ New category</a></li>
            </ul>
        </div>


        <!-- RENDER BODY -->
        <main role="main" class="pb-3 w-75" style="float: right">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KeyboxWeb</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
