
<div class="pt-5 pb-5">
    [CARDNAME]
    <br><br>

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="input-group flex-nowrap mb-3">
        <input type="text" class="form-control" placeholder="Card Name" aria-label="Card Name">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">@@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        <input type="text" class="form-control" placeholder="Login" aria-label="Login">
        <input type="password" class="form-control" placeholder="Password" aria-label="Password">
    </div>


    <div class="input-group mb-3">
                <span class="input-group-text" id="addon-wrapping">http://</span>
        <input type="text" class="form-control" placeholder="URL" aria-label="URL" aria-describedby="addon-wrapping">
    </div>

    </div>
</main>