@{
    ViewData["Title"] = "Home Page";
}



<div class="pt-5 pb-5">
    
    <div class="pb-4 h2">Vault Name</div>

    <a href="/home/card"><div class="alert alert-dark" role="alert">Twitter</div></a>
    <a href="/home/card"><div class="alert alert-dark" role="alert">Google</div></a>
    <a href="/home/card"><div class="alert alert-dark" role="alert">Apple</div></a>
    
    <br>
    <div class="alert alert-success" role="alert">+ Add Card</div>
</div>