@using KeyboxWeb.Models.Entites
@model Category

@{
    ViewData["Title"] = "Add Card";
}

<form asp-action="AddCard" asp-controller="Vault">

    <input type="hidden" name="CategoryId" value="@Model.Id">

    <div class="input-group mb-3">
        <span class="input-group-text">Category</span>
        <input type="text" name="Category" class="form-control" placeholder="Category" value="@Model.Name" readonly>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" name="Name" class="form-control" placeholder="Name">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">URL</span>
        <input type="text" name="Url" class="form-control" placeholder="URL">
    </div>

    <div class="input-group">
        <span class="input-group-text">Notes</span>
        <textarea class="form-control" name="Notes"></textarea>
    </div>

    <input class="btn btn-success p-2 mt-4 w-100" type="submit" value="Создать" />
</form>
