@{
    ViewData["Title"] = "Home Page";
}




<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="h2 pb-4">VaultName</div>
    
    <a href="/home/card"><div class="alert alert-dark" role="alert">Twitter</div></a>
    <a href="/home/card"><div class="alert alert-dark" role="alert">Google</div></a>
    <a href="/home/card"><div class="alert alert-dark" role="alert">Apple</div></a>

      <br>
    <div class="alert alert-success" role="alert">+ Add Card</div>

</main>

